.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid yellow;
  padding: 3rem;
  margin-top: 5rem;
  border-radius: 5px;
}

.card h1 {
  color: #fff;
  font-family: 'Starjedi';
  letter-spacing: 0.5rem;
  padding-bottom: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  display: flex;
  color: yellow;
  font-family: 'Starjedi';
  font-size: 1.2rem;
}

.info_number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  padding-left: 1rem;
  font-family: 'Rajdhani';
}

@media (max-width: 590px) {
  .card {
    padding: 1rem;
  }
  .card h1 {
    font-size: 1.5rem;
  }
  .info {
    font-size: 0.875rem;
  }
  .info_number {
    font-size: 1rem;
  }
}
