.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  color: #fff;
  font-family: 'Rajdhani';
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  margin-top: 4rem;
}
